git+https://github.com/psf/requests
python-dotenv~=0.14.0
googletrans~=3.0.0
urllib3~=1.25.10
psycopg2~=2.8.6
beautifulsoup4~=4.9.3
lxml
dialogflow
cfscrape~=2.1.1
vk_api~=11.9.0
newsapi-python
Pillow